**/*.log
**/*.log.*
*.class
*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
/dist

# local env files
.env.development
.env.local
.env.prod
.env.*.local

*prod.properties
GH_TOKEN.prod.txt

.DS_Store
.classpath
.settings/


*/builds/**
builds/
*/target/**
target/
*/.settings/**
*/.DS_Store
.DS_Store

*/.scannerwork/
.scannerwork/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/.metadata/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

